* {
    box-sizing: border-box;
}

section.patchwork section.column {
    background-color: rgba(0, 0, 0, .1);
    border-radius: 3px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 5px;
    break-before: left;
}